<template>
  <div class="content">
    <a href="#"><img id="logo" src="../assets/logo.svg"/></a>
    <h1 class="main" v-bind:class="{ white: whiteClass, red: redClass, yellow: yellowClass }">{{ main }}</h1>
    <p class="secondary">{{ secondary }}</p>
    <div class="form">
      <input class="smaller-width-input" v-model="code" type="text" placeholder="Your Creative Link /Code" name="code" id="code"/>
      <input class="smaller-width-input" v-model="newCode" type="text" placeholder="New /code" name="new_code" id="new_code"/>
      <span v-on:click="changeLink" class="button">CHANGE</span>
    </div>
    <div id="nav">
      <a class="blue" href="/#/">Build your Creative Link</a>
      <a class="yellow" href="/#/track">Track Your Creative Link</a>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  export default {
    name: 'Customize',
    data() {
      return {
        main: 'Make It Your Own.',
        secondary: 'Change how your Creative Link looks',
        code: null,
        newCode: null,
        whiteClass: true,
        redClass: false,
        yellowClass: false
      }
    },
    methods: {
      changeLink() {
        axios.post("https://link-api.tcff.co/link/"+this.code, {"code": this.code, "newCode": this.newCode}).then((response) => {
          this.yellowClass = true;
          console.log(response);
          this.main = "g.tcff.co/"+response.data.data.newCode;
          this.secondary = "Your New Creative Link Code is " + response.data.data.newCode;
        }).catch((error) => {
          this.redClass = true;
          console.log(error.response);
          if (error.response.data.statusCode === 401) {
            this.main = "Can't Find Code.";
            this.secondary = "Are you sure your entered the right one?";
          }
          else if (error.response.data.statusCode === 505) {
            this.main = "Somethings Wrong.";
            this.secondary = "Try again a little later";
          }
          else if (error.response.data.statusCode === 301) {
            this.main = "That Code Is Taken.";
            this.secondary = "We know how much it meant to you";
          }
        });
      }
    }
  }
</script>

<style></style>
