<template>
  <div class="content">
    <a href="/"><img id="logo" src="../assets/logo.svg"/></a>
    <h1 class="main" v-bind:class="{ white: whiteClass, red: redClass, yellow: yellowClass }">{{ main }}</h1>
    <p class="secondary">{{ secondary }}</p>
    <div class="form">
      <input class="input" v-model="code" type="text" placeholder="Your Creative Link /code" name="code" id="code"/>
      <span v-on:click="trackLink" class="button">DISCOVER</span>
    </div>
    <div id="nav">
      <a class="blue" href="/#/">Build your Creative Link</a>
      <a class="yellow" href="/#/customize">Customize Your Creative Link</a>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  export default {
    name: 'Track',
    data() {
      return {
        main: 'Track Your Link.',
        secondary: 'Monitor clicks on your Creaitve Link',
        code: null,
        whiteClass: true,
        redClass: false,
        yellowClass: false
      }
    },
    methods: {
      trackLink() {
        axios.get("https://link-api.tcff.co/link/"+this.code).then((response) => {
          this.yellowClass = true;
          this.main = response.data.data.clicks.toString() + " People Clicked.";
          this.secondary = "your Creative Link so far";
        }).catch((error) => {
          this.redClass = true;
          if (error.response.data.statusCode === 401) {
            this.main = "Can't Find Code.";
            this.secondary = "Are you sure your entered the right one?";
          }
          else if (error.response.data.statusCode === 505) {
            this.main = "Somethings Wrong.";
            this.secondary = "Try again a little later";
          }
        });
      }
    }
  }
</script>

<style></style>
