<template>
  <div id="app">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <router-view/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');

body {
  margin: 0;
  padding: 0;
  background-color: #252525;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

#nav {
  padding-top: 50px;
}

#nav a {
    overflow: hidden;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

h1 {
  font-size: 8em;
  font-weight: 600;
  padding: 0;
  margin: 0;
  letter-spacing: -10px;
}

p {
  font-size: 22px;
  letter-spacing: -2px;
  padding-bottom: 25px;
}

.input {
  height: 100%;
  width: 40%;
  background-color: #252525;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  color: white;
  font-family: 'Josefin sans', sans-serif;
  font-size: 1em;
  padding: 10px;
}

.smaller-width-input {
  height: 100%;
  width: 30%;
  background-color: #252525;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  color: white;
  font-family: 'Josefin sans', sans-serif;
  font-size: 1em;
  padding: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.button {
  border-radius: 10px;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
  color: black;
  font-family: 'Josefin sans'. sans-serif;
  font-size: .75em;
  font-weight: 700;
}

.content {
  text-align: center;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
}

#logo {
  width: 15%;
  margin-bottom: 25px;
}

.white {
  color: white;
}

.red {
  color: #FF0000;
}

.yellow {
  color: #FFB400;
}

.blue {
  color: #00F0FF;
}

</style>
